# code: language=ansible
---
- name: Install needed packages
  become: true
  ansible.builtin.package:
    state: present
    name:
      - tar
      - gzip
      - jq
  tags:
    - always

- name: Download
  ansible.builtin.include_tasks:
    file: download-cli.yml
  tags:
    - cilium
    - cilium-download

- name: Install
  ansible.builtin.include_tasks:
    file: install.yml
  tags:
    - cilium
    - cilium-install

- name: Hubble
  ansible.builtin.include_tasks:
    file: hubble.yml
  tags:
    - cilium
    - cilium-hubble

- name: Upgrade
  ansible.builtin.include_tasks:
    file: upgrade.yml
  tags:
    - cilium
    - cilium-upgrade

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
